<!DOCTYPE html>
<html>
<head>
    <title></title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
        <Row :gutter="16">
            <div class="search-group">
                <i-col span="4">
                    <i-input v-model="q.name" @on-enter="query" placeholder="名称"/>
                </i-col>
                <i-button @click="query">查询</i-button>
                <i-button @click="reloadSearch">重置</i-button>
            </div>
            <div class="buttons-group">
               <!--  #if($shiro.hasPermission("platformmonitor:save"))
                <i-button type="info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</i-button>
                #end
                #if($shiro.hasPermission("platformmonitor:update"))
                <i-button type="warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</i-button>
                #end -->
                #if($shiro.hasPermission("platformmonitor:delete"))
                <i-button type="error" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</i-button>
                <!--  <i-button type="error" @click="testLock"><i class="fa fa-trash-o"></i>&nbsp;测试锁</i-button> -->
                #end
            </div>
        </Row>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <Card v-show="!showList">
        <p slot="title">{{title}}</p>
		<i-form ref="formValidate" :model="platformMonitor" :rules="ruleValidate" :label-width="80">
            <Form-item label="中间编号，日期，序号" prop="monitorDateNumber">
                <i-input v-model="platformMonitor.monitorDateNumber" placeholder="中间编号，日期，序号"/>
            </Form-item>
            <Form-item label="统计类型" prop="monitorType">
                <i-input v-model="platformMonitor.monitorType" placeholder="统计类型"/>
            </Form-item>
            <Form-item label="异常会员数量：余额 和统计余额对应不上" prop="monitorUserAbnormalSum">
                <i-input v-model="platformMonitor.monitorUserAbnormalSum" placeholder="异常会员数量：余额 和统计余额对应不上"/>
            </Form-item>
            <Form-item label="统计时间" prop="monitorDate">
                <i-input v-model="platformMonitor.monitorDate" placeholder="统计时间"/>
            </Form-item>
            <Form-item label="添加，不允许更改" prop="createTime">
                <i-input v-model="platformMonitor.createTime" placeholder="添加，不允许更改"/>
            </Form-item>
            <Form-item>
                <i-button type="primary" @click="handleSubmit('formValidate')">提交</i-button>
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
                <i-button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">重置</i-button>
            </Form-item>
        </i-form>
	</Card>
</div>

<script src="${rc.contextPath}/js/shop/platformmonitor.js?_${date.systemTime}"></script>
</body>
</html>